* { margin:0; padding:0; box-sizing:border-box; }


/* common */
.height-50{
    height: 50px;
}
.space-20{
    width: 100%;
    height: 20px;
}

.space-50{
    width: 100%;
    height: 50px;
}
.space-100{
    width: 100%;
    height: 100px;
}

.underline-yellow{
    text-decoration: underline;
    text-decoration-color: #f8c246;
}
.underline-dark{
    text-decoration: underline;
    text-decoration-color: #343a40;
}

.underline-white{
    text-decoration: underline;
    text-decoration-color: white;
}

.space-holder{
    background-color: #868e96;
    height: 300px;
    width: 100%;
}


/* ====== */
html{
    top: 0;
    left: 0;
    margin-top: 0px;
    /* overflow: hidden;
    height: 100%; */
    margin-right: 0px;
    margin-left: 0px;
    overflow-x: hidden;
}

body{
    margin-top: 0px;
    padding: 0px;
    /* height: 100%;
    overflow: auto; */
    margin-right: 0px;
    margin-left: 0px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
  }

.active{
    background-color: #f8c246;
}

.navbar{
    margin-right: 0px;
    margin-left: 0px;
}

.logo-thumb{
    max-width: 300px;
    max-height: 300px;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url('../img/bg-1.png');
    background-position: center;
    background-size: cover;
}

.service-box{
    margin-top: 50px;
}

.service-box:hover{
    color: #f8c246;
}

.about-bg{
    background-image: url('../img/bg-2.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -30px;
    height: 400px;
}




/* ====================== */

@media screen and (max-width:767px){


    .fixed-top{
        position: relative;
    }

    .about-bg{
        background-attachment:scroll;
    }

    .logo-thumb{
        max-width: 200px;
        max-height: 200px;
    }
}